<link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
{%- include snippets/prepend-baseurl.html path='/assets/favicon-16x16.png' -%}
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
{%- include snippets/prepend-baseurl.html path='/assets/site.webmanifest' -%}
<link rel="shortcut icon" href="/favicon.ico" />
{%- include snippets/prepend-baseurl.html path='/assets/safari-pinned-tab.svg' -%}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
{%- include snippets/prepend-baseurl.html path='/assets/favicon.ico' -%}
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="#ffc40d">
{%- include snippets/prepend-baseurl.html path='/assets/browserconfig.xml' -%}
<meta name="msapplication-config" content="{{ __return }}">
<meta name="theme-color" content="#ffffff">
<!-- end favicons snippet -->